@import url(css-reset.css);

* {
	text-wrap: nowrap;
}

body {
	font-family: sans-serif;
	line-height: 2;
	color: white;
	text-shadow: 0px 0px 50px #638253;
	overflow: hidden;
}

dialog {
	min-width: 466.083px;
	min-height: 718.4px;
	border-radius: 1em;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.8s;
	color: black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4em;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.419);
}

dialog[open] {
	opacity: 1;
	pointer-events: inherit;
}

dialog > :first-child {
	padding-top: 3em;
}
dialog > :last-child {
	margin-top: -50px;
	padding-bottom: 150px;
}
dialog > :nth-child(3) {
	margin-top: auto;
}

.playAgain {
	display: flex;
	gap: 20px;
	width: 50%;
}

.playAgain button {
	flex: 1;
	padding: 5px 0;
	color: white;
	border: none;
	border-radius: 4px;
}

#yes:hover,
#no:hover {
	filter: brightness(0.8);
}
#yes:active,
#no:active {
	filter: brightness(0.6);
}

#yes {
	background-color: green;
}

#no {
	background-color: red;
}

.container {
	background: linear-gradient(35deg, #fdbb2d 0%, #22c1c3 100%);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrap {
	background: rgba(255, 255, 255, 0.18);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(16.6px);
	-webkit-backdrop-filter: blur(16.6px);
	border: 1px solid rgba(255, 255, 255, 0.33);
	padding: 4em 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2em;
}

h1 {
	line-height: 0.7;
}

h3 {
	font-size: 1.4em;
}

.choices {
	display: flex;
	gap: 1em;
}

.choices button,
#cpuChoiceEmoji {
	background: white;
	font-size: 2em;
	padding: 0.1em 0.7em;
	border-radius: 0.3em;
	border: 3px solid transparent;
	transition: 0.15s ease-in-out;
}

#cpuChoiceEmoji:hover {
	background-color: #e9e9ed;
}

.choices button:hover {
	background-color: white;
	border: 3px solid rgb(57, 229, 134);
	transform: scale(1.2);
	cursor: pointer;
}
.choices button:active {
	box-shadow: inset 0 0 15px 0 #c7c7c7;
	transform: scale(1);
}

.choices .active {
	background-color: white;
	border: 3px solid rgb(254, 212, 76);
	transform: scale(1.1);
}

.score {
	display: flex;
	gap: 3em;
}

p {
	font-size: 1.2em;
}

#thisRoundResult {
	color: white;
	min-width: 100%;
	transition: 0.35s ease-in-out;
	font-size: 1.4em;
	padding: 0.3em 2em;
	background: rgba(255, 255, 255, 0.18);
	border-radius: 0.4em;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(16.6px);
	-webkit-backdrop-filter: blur(16.6px);
	border: 1px solid rgba(255, 255, 255, 0.33);
}
